/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$black: #161616;
$grey: #747474;

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: $black;
	color: $grey;
	font-size: 12px;
	height: 100%;
	padding-right: 10px;
}

header {
	display: flex;
	img {
		z-index: 1;
	}
	div {
		background: url(/assets/pokedex-header-nav.png);
		width: 100%;
		height: 46px;
		margin-right: -10px;
	}
}

.main-container {
	display: flex;
	justify-content: space-between;
}

aside {
	flex: 1;
}

main {
	flex: 4;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	height: 20px;
}

li img {
	height: 100%;
	width: auto;
}

.pokemon-index-item {
	transition: 0.3s all ease-in-out;
	padding: 4px 0;
	vertical-align: middle;
}

.pokemon-index-item:hover {
	cursor: pointer;
	background-color: #ccc;
	// transition: 1s all;
}

.pokemon-detail {
	padding: 20px;
	text-align: center;
	background-color: #d1ccb6;
}

.pokemon-detail img {
	transition: 0.2s all ease-in-out;
}

.pokemon-detail img:hover {
	transform: rotate(360deg);
}

// .pokemon-detail > img:hover {
// 	transform: rotate3d(1, 1, 0, 360deg);
// }

.toy-list {
	display: flex;
	justify-content: center;
	height: 100px;
}

.toy-list li {
	height: 70px;
	width: auto;
	transition: 0.1s all ease-in-out;
}

.toy-list li:hover {
	cursor: pointer;
	height: 100px;
}

// Errors

.errors {
	position: absolute;
	display: flex;
	// flex-direction: column;
	justify-content: center;
	width: 100%;
}

.errors-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 720px;
}

.error-enter {
	opacity: 0.01;
}

.error-enter.error-enter-active {
	opacity: 1;
	transition: opacity 8000ms ease-in-out;
}

.error {
	background-color: red;
	width: 100%;
	border-radius: 4px;
	margin: 10px 0;
	padding: 8px;
	color: white;
	text-align: center;
}

.error-appear {
  opacity: 0.01;
}
.error.one {

}
.error-appear.error-appear-active:nth-child(4n+1) {
  opacity: 1;
  transition: all 3s ease-in-out;
	transform: rotate3D(0, 1, 0, -7200deg);
}
